@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: #373737;
  background: url("https://firebasestorage.googleapis.com/v0/b/sabinehomepage.appspot.com/o/plywood.jpg?alt=media&token=13d38e48-d0b2-49f0-97d0-73f1cd6d8d7d");
  background-repeat: repeat-x;
  background-attachment: fixed;
}


h1{
  font-family: 'Indie Flower', sans-serif;
}

.title {
  font-family: 'Indie Flower', sans-serif;
  font-size: 20px;
  padding-left: 5px;
}
