.container-cake {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
}
.container-cake img {
  border-radius: 5px;
}
.container-cake .title {
  font-size: 2rem;
}

.wrapper-header {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 60px;
  max-height: 450px
}

.container-cake .wrapper-header img,
.container-cake .wrapper-end img
 {
  width: 450px;
  max-width: 100%;
  max-height: 450px;
}
.container-cake .wrapper-howToCook {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 1em;
  margin: 1rem 0px;
  background-color: #ffffff87;
  border-radius: 5px;
}

.container-cake .wrapper-howToCook ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0.3rem;
}

.container-cake .wrapper-howToCook ul li img {
  max-width: 250px;
  max-height: 250px;
  padding: 5px;
}


.container-cake .mainText {
  max-width: 40%;
  min-width: 200px;
  padding: 0 3em 3em 1em;
  background-color: #ffffff87;
  border-radius: 5px;
  margin-left: 1rem;
}
.container-cake .wrapper-ingredients{
  background-color: #ffffff87;
  border-radius: 5px;
  margin-top: 1rem;
  padding-left: 1rem;
}
.container-cake .wrapper-ingredients ul{
  padding-left: 0;
}
.container-cake .wrapper-howToCook ul{
  padding-left: 0;
}

.container-cake .ingridienceList li {
  display: flex;
}
.container-cake .ingridienceList li div:first-of-type{
  min-width: 110px;
}

.container-cake .wrapper-content {
  padding: 3em;
}
.container-cake .wrapper-content p {
  padding: 1em;
}

.container-cake .wrapper-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff87;
  border-radius: 5px;
  margin-bottom: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.container-cake .wrapper-end p{
  padding-left: 1em;
}
