.container-CreateCake {
  display: flex;
  flex-direction: column;
  padding: 3em;
}
.container-CreateCake .main{
  display: flex;
  flex-direction: row;
  padding: 3em;
  border: 1px solid black;
}

.container-CreateCake .main .text{
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex: 3;
}
.container-CreateCake .main .text label{
  display: flex;
  flex-direction: column
}
.container-CreateCake .main .text textarea{
  height: 200px;
}

.container-CreateCake .ingridience {
  margin: 3em;
  border: 1px solid black;
  padding: 1rem;
}

.container-CreateCake .ingridience .ingredientData{
  margin: 1em;
}

.container-CreateCake .stepsImgUl {
  display: flex;
  flex-wrap: wrap;
}

.container-CreateCake .stepsImgUl li {
  list-style: none;
}

.container-CreateCake .stepsImgUl li img{
  max-width: 250px;
  padding: 5px;
}

/* How to cook */
.container-CreateCake .howToCook{
  display: flex;
  margin: 3em;
  flex-direction: column;
  border: 1px solid black;
  padding: 1em;
}
.container-CreateCake .stepByStep{
  margin: 3em;
  border: 1px solid black;
  padding: 1em;
}


.container-CreateCake .howToCook .add{
  display: flex;
  flex-direction: column;
  flex: 3;
}

.container-CreateCake .howToCook .cookImg{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.container-CreateCake .howToCook div textarea{
  margin: 3px;
  height: 60px;
}

.container-CreateCake .content{
  display: flex;
  flex-direction: row;
  padding: 3em;
  border: 1px solid black;
  margin: 1rem 0px;
}
