.container-images .dbImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-images {
  display: flex;
  align-content: center;
  position: relative;
  flex-direction: row;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.container-images .wrapper-images {
  display: flex;
  flex-direction: row;
  overflow: auto;
  top: -200px;

}

.container-images .wrapper-buttons {
  position: absolute;
  display: flex;
  right: 0;
  top: -10;
  flex-direction: column;
  z-index: 100;
}
