.container-images .dbImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.container-images {
  display: flex;
  position: relative;
  flex-direction: column;
}
.container-images .wrapper-images {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: -200px;
  right: 200px;
}

.container-images .wrapper-buttons {
  position: absolute;
  
}
